$orange-dark: #f24405;
$orange-light: #FFE5DD;

@mixin margin($pad-up-down, $pad-left-right) {
    margin: $pad-up-down $pad-left-right;    
}

.navbar {
    background-color: $orange-dark;    
    .navbar-content, .navbar-brand {
        color: white;
        @include margin(0,10px);
        padding: 0;
    }
}

.container {
    min-height: 100%;
}

.footer {
    background-color: $orange-dark;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    margin-top: 5%;
    ul, li, address, a, i {
        color: white;
    }
    li {
        list-style: none;
        display: inline-block;
    }
    .linkpage {
        justify-content: center;
        a {
            margin-right: 5px;
            display: inline-block;
        }
    } 
}

.search {
    div {
        margin: 1% 0;
    }

    input[type="text"],
    input[type="date"] {
        padding: 10px;
        border-radius: 10px;
        display: inline-block;
    }

    input[type="text"], 
    input[type="date"] {
    background-color: $orange-dark;
    width: 300px;
    height: 50px;
    color: white;
    border: none;
    }

    input[type="text"]:focus, 
    input[type="date"]:focus {
    background-color: white;
    border: none;
    color: $orange-dark;
    }

    label {
    color: $orange-dark;
    }
}

.contactForm {
    color: $orange-dark;
    #contactForm {
        input, textarea {
            padding: 10px;
            border-radius: 10px;
            vertical-align: middle;
            background-color: $orange-dark;
            width: 100%;
            max-width: 400px;
            height: 50px;
            color: white;
            border: none;
            @include margin(1%, 0)
        }
    
        input[type="submit"] {
            width: 100px;
        }
    
        textarea {
            height: 200px;
        }
    
        input:focus, textarea:focus {
            background-color: white;
            border: none;
            color: $orange-dark;
        }
    
        label {
            color: $orange-dark;
            width: 100px;
        }
    }
}

.page-title {
    color: $orange-dark;
    margin-top: 10%;
}

.club {
    .club-logo {
        img {
            max-width: 120px;
        }
    }
    .club-heading, a:focus {
        color: $orange-dark;
    }

}

.login {
    input {
        padding: 10px;
        border-radius: 10px;
        display: inline-block;
        background-color: $orange-dark;
        width: 300px;
        height: 50px;
        color: white;
        border: none;
    }

    input::placeholder {
        color: white;
    }

    input:focus {
        background-color: white;
        border: none;
        color: $orange-dark;
    }

    label {
        color: $orange-dark;
    }

}